/* All meter data in one page */
/* Total page view styling */
.dashboard-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #e6f0fa, #b3c9e6, #d3e0ea);
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
    width: fit-content;
    min-height: 100vh;
}

@keyframes gradientShift {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.dashboard-header {
    position: absolute;
    left: 20px;
    color: #162938;
    z-index: 10;
}

.dashboard-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bolder;
    background-clip: text;
    color: #162938;
    padding: 0px 20px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.dashboard {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 60px 20px 20px 20px; /* Adjusted for header */
    backdrop-filter: blur(5px);
}

/* Container to hold all meter data styling */
.grid-container {
    margin-top: 0;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    width: fit-content;
    outline: 2px solid #162938;
}

/* Each meter data */
.bus-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}

.bus-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* page close button */
#closebutton,
#download-all-btn {
    margin: 10px;
    padding: 5px;
    border: #162938 2px solid;
    border-radius: 12px;
    background-color: #8a9fb5;
    width: 180px;
    height: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    position: absolute;
    right: 50px;
    top: 2px;
}

#download-all-btn {
    width: 250px;
    right: 250px;
}

#closebutton:hover {
    background-color: #007bffa2;
    border: #162938 2px solid;
}

#download-all-btn:hover {
    border: #162938 2px solid;
    background-color: rgb(84, 191, 84);
}